*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#container{
    height:100px;
    width:100px;
    background-image: linear-gradient(
    45deg,
    hsl(0deg 84% 88%) 0%,
    hsl(323deg 65% 84%) 8%,
    hsl(250deg 79% 85%) 17%,
    hsl(205deg 100% 72%) 25%,
    hsl(184deg 78% 55%) 33%,
    hsl(143deg 64% 72%) 42%,
    hsl(55deg 70% 73%) 50%,
    hsl(112deg 63% 77%) 59%,
    hsl(167deg 76% 65%) 67%,
    hsl(186deg 95% 54%) 76%,
    hsl(207deg 100% 79%) 84%,
    hsl(300deg 60% 82%) 92%,
    hsl(0deg 98% 84%) 100%
    );
    position: relative;
    border:10px dotted black;
}

body{
    height: 98vh;
    width:98vw;
    background-color: black;
}
